<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/register" method="post">
    <label >Username</label> <br>
    <input type="text" name="username"><br><br>
    <label for="lname">Email</label> <br>
    <input type="email" name="email"><br><br>
    <label for="lname">Password</label> <br>
    <input type="password" name="password"><br><br>
    <select name="role">
      <option selected disabled value="">--select--</option>
      <option value="User">User</option>
      <option value="Admin">Admin</option>
    </select> <br> <br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>